*{
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}
.main-section {
    display:  flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    gap: 10px;
}
.main-section h1{
    color: rgb(0, 106, 163);
}
.main-section table{
    border: 1px solid gray;
    width: 700px;
    height: 200px;
    text-align: center;
    border-collapse: collapse;
}
.main-section tr,td,th{
    border: 1px solid gray;
    padding: 20px;
    font-size: 17px;
}
.main-section button{
    padding: 7px 14px;
    font-size: 13px;
}   